
<h1>{{title}}</h1>
<!-- <app-staff></app-staff>
  <app-test></app-test> -->
<nav style="text-align:center">
 <button style="width:15%;height:15%"> <a routerLink="/list"><h1>LIST</h1></a></button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
 <button style="width:15%;height:15%"> <a routerLink="/bind"><h1>REVIEW</h1></a></button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
 <button style="width:15%;height:15%"> <a routerLink="/service"><h1>DETAIL</h1></a></button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
 <button style="width:15%;height:15%"> <a routerLink="/home"><h1>HOME</h1></a></button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
</nav>

<router-outlet></router-outlet>