<img src="/src/assets/images/icon.jpg">
<h1 style="text-align:center;color:whitesmoke;">{{title}}</h1><hr>
<!-- <app-staff></app-staff>
  <app-test></app-test> -->
  <header>
  <div>
<nav style="text-align:center">
  <a routerLink="/list"><button style="width:15% ;height:15%"><h3>LIST</h3></button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/bind"><button style="width:15% ;height:15%"><h3>REVIEW</h3></button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/service"><button style="width:15% ;height:15%"><h3>DETAIL</h3></button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/route"><button style="width:15% ;height:15%"><h3>PAGES</h3></button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</nav>
</div>
</header>

<router-outlet></router-outlet>