/* You can add global styles to this file, and also import other style files */
body{
    background-color: darkslategray;
    /* background-image: url('../src/assets/images/bike.jpg');
    background-size: cover;
     */
}
h1{
    color: cornsilk;
}