
<!-- <body style="text-align:right;background-size:cover;border-style:ridge;background-color: white"> -->
      <!-- <img src="/src/assets/images/app.jpg"> -->
<!-- <div style="background-image: url('/src/assets/images/ns.jpg');background-size:cover;"> -->
    <body style="text-align:right; background-image: url('../src/assets/images/about.png');background-size:cover;border-style:groove">
  <div > 
        <!-- <img src="/src/assets/images/about.png"> -->
<h6 >
   The Bajaj Group is amongst the top 10 business houses in India.<br>
   Its footprint stretches over a wide range of industries, <Br>
   two wheelers manufacturer and three wheelers manufacturer,<br>
    lighting, iron and steel, insurance, travel and finance. <br>
    The group's flagship company, Bajaj Auto, <br>
    Is ranked as the world's fourth largest three and two wheeler manufacturer .<br>
     the Bajaj brand is well-known across several countries in Latin America, Africa.<br>
    Founded in 1926, at the height of India's movement for independence from the British,<br>
</h6>
</div>
</body>
<!-- </div> -->
<!-- </body> -->
